<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Walking Routes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../public/css/walking-routes.css" media="screen" />
</head>

<body class="main">
    
    <!-- TITLE -->
    <h1>Kelvingrover</h1>

    <!-- NAVBAR -->
    <div class="container nav-bar">
        <div class="row">
            <div class="col-md-3">
                <a href="#">WALKING ROUTES</a>
            </div>    
            <div class="col-md-3">
                <a href="#">CYCLE ROUTES</a>
            </div>
            <div class="col-md-3">
                <a href="#">REDUCED MOBILITY ROUTES</a>
            </div>
            <div class="col-md-3">
                <a href="#">HOW TO USE THIS</a>
            </div>
        </div>
    </div>
    

</body>
</html>